@model Gerenciador_De_Vendas.Entities.Venda

@{
    ViewData["Title"] = "Create";
}

<h1>Venda</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Adicionar">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label class="control-label">Pesquisar Produto</label>
                <input asp-for="produtoId" type="text" class="form-control" />
                <span asp-validation-for="produtoId" class="text-danger"></span>
            </div>
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                <label class="control-label">Quantidade</label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div>
                <br />
            </div>

            <div class="form-group">
                <input type="submit" value="Adicionar Produto" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <form method="post" asp-action="Create">
               
            <div class="form-group">
                <label asp-for="Emissao" class="control-label"></label>
                <input asp-for="Emissao" class="form-control" type="date" value="@DateTime.Now"/>
                <span asp-validation-for="Emissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeCliente" class="control-label">Cliente</label>
                <input asp-for="NomeCliente" class="form-control" />
                <span asp-validation-for="NomeCliente" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input asp-for="ValorTotal" class="form-control" value="@Model.ValorTotal" hidden />
            </div>
            <br/>
            <div>
                <input type="submit" value="Concluir Venda" class="btn btn-primary"/>
            </div>
      
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Produto
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Valor Unitario
            </th>
            <th>
                Valor Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Itens)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecoVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    <label>Valor Total da Venda</label>
    <input asp-for="ValorTotal" class="form-control" value="@Model.ValorTotal" readonly />
</div>

<br/>
<div>
    <a class="btn btn-primary" asp-action="Index">Voltar para a tela inicial</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
