@model IEnumerable<Gerenciador_De_Vendas.Entities.Venda>

@{
    ViewData["Title"] = "Details";
}

<h1>Pedidos de venda</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova venda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach(var pedidos in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => pedidos.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => pedidos.Emissao)  
        </td>
        <td>
            @Html.DisplayFor(modelItem => pedidos.ValorTotal)
        </td>
    </tr>

}
    </tbody> 
</table>
